<div class="ideas">
    <% @ideas.each do |idea| %>
    <a href="/ideas/<%= idea.id %>">
        <div class="idea">
            <div class="ideatitle"><%= idea.title %></div>
            <div class="ideadescription"><%= idea.description %></div>
            <div class="ideafooter">
                <div class="footerLeft">
                    <div class="ideaauthor">by <%= idea.user.name %></div>
                    <div class="idealikes">button</div>
                </div>
                <div class="footerRight">
                    <div class="reviewsCount">Reviews: <%= idea.reviews.count %></div>
                    <div class="likesCount"><%# idea.likes.count %></div>
                </div>
            </div>
        </div>
    </a>
    <% end %>
</div>